h1 {
    margin: auto;
    width: 50%;
}

button{
  margin: auto;
  width: 100%;
   padding: 10px;
}

H2 {
      margin: auto;
      width: 100%;
       padding: 10px;

}

moto{
    text-align: center;
}