.title {
    text-align: left; 
    margin-right: 30%;
    font-size:40px;
    font-family: "Anonymous Pro", monospace;
    font-weight: bold;
    color:#D87434;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    text-align: center;
    margin-right:40%;
    margin-bottom:20%;
    font-size:28px;
    font-family: "Anonymous Pro", monospace;
    color:#D87434;
}


button{
  margin: auto;
  width: 100%;
   padding: 10px;
}

.kontakti {
    text-align: left;
    font-size:60px;
    font-family: "Anonymous Pro", monospace;
}

.top {                                                                                                 
    text-align: center;
    font-size:60px;
    font-family: "Anonymous Pro", monospace;  
    color:#bf6731;
}

.under{
    text-align: left;
    font-size:30px;
    font-family: "Anonymous Pro", monospace;  
    color:#D87434;
}

img {
     float: right;
    margin-bottom: 100px;

}                   

image{
    position: absolute;
    width: 200px;
    height: 270px;
    border-radius: 30px;

}